@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-box {
  box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
}

.shadow-box-black {
  box-shadow: 0px 15px 30px rgba(2, 40, 43, 0.1);
}

.shadow-box-black-large {
  box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.08);
}

.bullet-testi {
  @apply w-[7px] h-[7px] rounded-full block;
}
